<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/" xmlns:moz="http://www.mozilla.org/2006/browser/search/">
  <ShortName>dbatools</ShortName>
  <Description>Search for commands</Description>
  <Url type="text/html" method="get" template="https://docs.dbatools.io/#{searchTerms}"/>
  <InputEncoding>UTF-8</InputEncoding>
  <Image height="32" width="32" type="image/png">https://dbatools.io/wp-content/uploads/2016/05/dbatools.png</Image>
</OpenSearchDescription>