name: update-assets
on:
  workflow_dispatch:

jobs:
  updatehelpindex:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout'
      uses: 'actions/checkout@v2.3.4'

    - name: 'Pull help index file'
      working-directory: assets
      run: |
        curl -O https://raw.githubusercontent.com/sqlcollaborative/dbatools/master/bin/dbatools-index.json
        git status

    # - name: commit if file changed
    #   uses: stefanzweifel/git-auto-commit-action@v4
    #   with:
    #     commit_message: updating help index file

    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  bumpversion:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout'
      uses: 'actions/checkout@v2.3.4'

    - name: 'Bump version based on manifest'
      working-directory: assets
      shell: pwsh
      run: |
        curl -O https://raw.githubusercontent.com/sqlcollaborative/dbatools/master/dbatools.psd1
        $modData = Import-PowerShellDataFile dbatools.psd1
        $ext = Get-Content .\external.json | ConvertFrom-Json
        echo "Module version: $($modData.ModuleVersion)"
        echo "External version: $($ext.Version)"
        if ($ext.Version -ne $modData.ModuleVersion) {
          $ext.Version = $modData.ModuleVersion
          $ext | ConvertTo-Json | Out-File ./external.json
        }
        Remove-Item ./dbatools.psd1 -Force

    # - name: commit if file changed
    #   uses: stefanzweifel/git-auto-commit-action@v4
    #   with:
    #     commit_message: bumping doc version

    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
